@tailwind base;
@tailwind components;
@tailwind utilities;

body{color:#0B3B5B;}
.tab-ui{@apply flex flex-wrap}
.tab-ui li{@apply mr-7}
.tab-ui li button{@apply inline-block pt-4 mb-4 uppercase border-b-2 border-transparent hover:text-red-600 hover:border-red-600 dark:hover:text-gray-300}

.pl40{padding-left: 40px !important;}

.theme-bg{background-color: #F0F1F7;}
.theme-bg-blue{background-color: #D3E4F3;}
.theme-bg-gray{background-color: #DADDE8;}
.theme-bg-red{background-color: #F2DBE0;}
.theme-bg-green{background-color: #bbe6bf;}

.theme-bg-red-solid{background-color: #D81B2A;}
.theme-bg-green-solid{background-color: #3BB54B;}
.theme-bg-blue-solid{background-color: #1975C9;}
.theme-bg-gray-solid{background-color: #0B3B5B;}

.theme-red-color{color: #D81B2A;}
.theme-green-color{color: #3BB54B;}
.theme-blue-color{color: #1975C9;}
.theme-gray-color{color: #0B3B5B;}

.theme-blue-color{color: #2D9CDB;}
.theme-gray-color{color: #5E6C93;}
.theme-red-color{color: #FF5B5B;}
.theme-green-color{color: #3BB54B;}

.ext-small-text{font-size: 10px;}

.search-ui{width: 42rem}

.left-nav-ui{}
.left-nav-ui li{}
.left-nav-ui li a {padding: 10px 18px;font-size: 16px;color: #828282;}
.left-nav-ui li a:hover{border-right: 3px solid #093A5A;}
.left-nav-ui li a span{padding-left: 13px;}
.left-nav-ui li a svg {font-size: 35px !important;padding: 6px !important;}
.left-nav-ui li a:hover svg {background: #093A5A;padding: 4px;color: #fff;font-size: 40px;border-radius: 8px;}

.tab-ui1{}
.tab-ui1 li{}
.tab-ui1 li a {font-size: 12px;padding: 6px 8px;border-radius: 23px;color: #0B3B5B;}
.tab-ui1 li a.active{background: #0B3B5B;color: #fff;}
.custom-wdth{width: 87%;}
.bullet-point-ui {display: flex;justify-content: space-around;}
.bullet-point-ui li {font-size: 12px;display: flex;align-items: center;}
.bullet-point-ui li span {width: 6px;height: 6px;display: inline-block;border-radius: 100%;margin-right: 5px;}

.indicators-ui {display: flex;justify-content: center;margin-top: 15px;}
.indicators-ui li {width: 8px;height: 8px;background: #CED5E1;border-radius: 100%;margin-right: 8px;}
.active{background: #147AD6 !important;}

.logo{padding: 15px;padding-top: 30px;}
.logo img{width: 95%;}